@media (min-width: 650px) {
    .rwd-table td:before
    {
        display: none;
    }
    .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: 1em !important;
    }
    .rwd-table th:first-child, .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child, .rwd-table td:last-child {
        padding-right: 0;
    }
    .bnr-holder .wrapper
    {
        display: unset;
    }
    .group-problems-table {
        font-size: 0.8rem;
    }
}

@media (max-width: 1200px) {
    .group-detail-chart {
        width: 60vw;
    }
}

@media (max-width: 992px) {
    .group-detail-chart {
        width: 65vw;
        top: 65%;
    }
}

@media (max-width: 768px) {
    #welcome-page-login-link {
        padding: 5px 10px;
    }
    .group-detail-chart {
        width: 90vw;
        top: 100%;
        margin-top: 20px;
        padding-left: 20px;
    }
    .slider-holder {
        max-width: 95%;
        font-size: 0.8rem;
        padding: 10px 15px;
        bottom: 50px;
        left: 53%;
    }
    .filter-menu, .slider-holder {
        z-index: 0;
        opacity: 0;
    }
    .filter-btn {
        z-index: 10;
    }
    .clicked {
        z-index: 10;
        opacity: 1;
        bottom: 200px;
        transition: ease-in-out 300ms;
    }
    .clicked-slider {
        z-index: 10;
        opacity: 1;
        transition: ease-in-out 300ms;
    }
}

@media (max-width: 576px) {
    .group-detail-chart {
        padding-left: 30px;
    }
}


