@media (min-width: 650px) {
    .rwd-table td:before
    {
        display: none;
    }
    .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: 1em !important;
    }
    .rwd-table th:first-child, .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child, .rwd-table td:last-child {
        padding-right: 0;
    }
    .bnr-holder .wrapper
    {
        display: unset;
    }
    .group-problems-table {
        font-size: 0.8rem;
    }
}

@media (max-width: 1200px) {
    .group-detail-chart {
        width: 60vw;
    }
}

@media (max-width: 992px) {
    .group-detail-chart {
        width: 65vw;
        top: 65%;
    }
}

@media (max-width: 768px) {
    .group-detail-chart {
        width: 90vw;
        top: 100%;
        margin-top: 20px;
        padding-left: 20px;
    }
}

@media (max-width: 576px) {
    .group-detail-chart {
        padding-left: 30px;
    }
}

/*@media (max-width:650px){*/
/*    .main_header{*/
/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*        font-size: 1.5rem;*/
/*    }*/
/*}*/

/*@media (min-width:992px){*/
/*    #mobile-filter*/
/*    {*/
/*        display: none;*/
/*    }*/
/*    .rwd-table*/
/*    {*/
/*        width: 78%;*/
/*        padding: 10px;*/
/*        margin-right: 2%;*/
/*        margin-top: 2%;*/
/*        margin-bottom: 5%;*/
/*        float: right;*/
/*    }*/
/*}*/
/*@media (max-width: 991px){*/
/*    #sidebar*/
/*    {*/
/*        display: none;*/
/*    }*/
/*    .rwd-table*/
/*    {*/
/*        width: 96%;*/
/*        padding: 10px;*/
/*        margin: 0 2% 10%;*/
/*    }*/
/*    #expand-filter-btn*/
/*    {*/
/*        display: initial;*/
/*        margin-left: 70%;*/
/*        font-size: 15px;*/
/*        margin-top: 5px;*/
/*        margin-bottom: 5px;*/
/*    }*/
/*}*/
